html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
}
.text-center{
  text-align: center;
}
            /* navbar */
.navbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #2B2B2B;
  opacity: 0.7;
  color: #fff;
  top: 0;
  position:fixed;
  width: 100%;
  height: 60px;
  padding: 0 3rem;
}
.navbar a{
  color: #fff;
  padding:1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0.5rem;
}
.navbar ul{
  display: flex;
  list-style: none;
  
}
.navbar a:hover{
  border-bottom: 1px #fff solid;
  color:black;
}
.navbar h1{
  font-size: 2rem;
  padding: 0 2rem;
}
.navbar span{
  color:darkorange;
  margin: 0 1rem;
}

.main-header{
  background-image: url('./img/bg-1.jpeg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-header::before{
  top: 0;
  left: 0;
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.main-header * {
  z-index: 5;
}
.main-header .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 80%;
  width: 100%;
}
.content h1{
  font-size: 5.5rem;
}
.content p{
  font-size: 2rem;
}
.content button{
  font-size: 2.5rem;
  font-weight: 150;
}

/* section */

.icons{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.icons i{
  font-size: 4.5rem;
  padding: 0.1rem 2rem 1.5rem 2rem;
  border-radius: 50%;
  
  
}
.icons h3{
    font-size: 2.5rem;
    margin: 2.5rem 0px;
    
}
.icons p{
  font-size: 1.7rem;
}
.icons-item{
  margin: 5rem;
}

.about .row1{
  display: flex;
  height: 100%;

  
}
.about .row1 .column{
  flex: 1;
  margin: 0;
 
  
}
.about .column .column-1,
.about .column .column-2{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  
  
}
.about h2{
  font-size: 3rem;
}
.about p{
  font-size: 1.5rem;
  
}
.about button{
  font-size: 2rem;
}

/* galery */
.section-header{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 4rem
}
.section-header h2{
  font-size: 4rem;
  font-weight: 200;
}
.section-header p{
  font-size: 2rem;
}


.gallery .row1 .column{
  display: flex;
  padding:1rem
}

 .gallery img{
  width: 100%;
  padding: 1rem;
} 

/* room and teams */

.flex-items{
  display:flex;
  padding: 0 2rem;
  text-align: center;
}

.flex-items .card{
  justify-content: center;
 margin: 0 5rem;
}
.flex-items img{
  width: 100%;
}
.flex-items .card-body{
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color:darkgray;
  align-items: center;
}

.flex-items h2{
  font-size: 2.7rem;
  font-weight: 300;
}
.flex-items p{
  font-size: 1.8rem;
}

.flex-items>div{
  margin: 2rem 6rem;
  justify-content: flex-end;
}

.teams{
  margin: 5rem 0;
  background-color:#F0EEED;
}
.teams img{
  border-radius: 50%;
}
.teams img:hover{
  opacity: 0.7;
}
.teams p{
  padding: 1rem 0;
}